# OS
.DS_Store
Thumbs.db

# Editor
.idea
.vscode
*.iws
*.iml
*.ipr
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.xml.versionsBackup
log/

# Node
node_modules/
dist/
.nuxt
.cache
.eslintcache
.npmrc
.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env.local
.env.*.local
